# Caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Enviroments
venv/
env/
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Editors y OS
.vscode/
.idea/
.DS_Store

# temporary build directories
dist/
build/
*.egg-info/

# temporary files
__pycache__/
.pytest_cache/